.navbar {
  margin-bottom: 15px;
}

.container {
  background-color: #f8f9fa;
}

.product {
  margin-bottom: 15px;
}

.product-name {
  text-align: center;
}

.product-image {
  width: 100%;
  max-width: 256px;
  height: 256px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.product-list {
  padding-top: 15px;
}

.add-product {
  padding: 15px 0;
}

.product-remove-btn {
  width: 20px;
  position: absolute;
  right: 0;
  margin-right: 14px;
  background-color: #fff;
  text-align: center;
}

.product-details {
  padding: 15px 0;
}
