.navbar {
  margin-bottom: 15px;
}

.content {
  background-color: #f8f9fa;
}

.product {
  margin-bottom: 15px;
}

.product-name {
  text-align: center;
}

.product-image {
  width: 100%;
  max-width: 256px;
  height: 256px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.product-list {
  padding-top: 15px;
}

.add-product {
  padding: 15px 0;
}

.add-ingredient {
  padding: 15px 0;
}

.product-remove-btn {
  width: 20px;
  position: absolute;
  right: 0;
  margin-right: 14px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.product-details {
  padding: 15px 0;
}

.remove-ingredient-list {
  margin-top: 30px;
}

.ingredient-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.selected-ingredient {
  background-color: green;
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f8f9fa;
}
