.navbar {
  margin-bottom: 15px;
}

.container {
  background-color: #f8f9fa;
}

.product {
  margin-bottom: 15px;
  cursor: pointer;
}

.product-name {
  text-align: center;
}

.product-image {
  width: 256px;
  height: 256px;
}

.product-list {
  padding-top: 15px;
}

.add-product {
  padding: 15px 0;
}
